#tutorial: https://www.atlassian.com/git/tutorials/gitignore

*.log
*.DS_Store
*.iml
*.idea
*.jpg
code_not_to_be_pushed
Multi-objective-evaluation-algorithm/Test\ Images\ Project\ 2/
Multi-objective-evaluation-algorithm/Segmentation_Evaluation/

